.custom-container {
    width: 22%;
}
body{
	padding-top:0;
}
.btn {
    border-radius: 3rem;
    padding: 0.5rem 1.75rem;
    transition: all 0.3s;
    box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
}

.btn:hover {
    background-color: black;
    border: 1px solid white;
}

.btn:active {
    box-shadow: 4px 4px 12px #c5c5c5, -4px -4px 12px #ffffff;
}

#more-cards-root {
    display: flex;
    justify-content: center;
    align-items: center;
}

#more-celeb-cards-root {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 570px) {
    .custom-container {
        width: 100%;
    }

    .search-bar-container {
        flex-wrap: wrap;
        flex-direction: column;
    }
}

@media (min-width: 570px) and (max-width: 770px) {
    .custom-container {
        width: 40%;
    }
}

@media (min-width: 770px) and (max-width: 1024px) {
    .custom-container {
        width: 30%;
    }
}

.search-bar-container {
    padding: 0rem 1.75rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 1rem;
}

.search-bar {
    width: 40%;
    padding: 0.5rem 1rem;
    border-radius: 15px;
    border: 1px solid #ced4da;
    font-size: 1rem;
}

.dropdown-box {
    max-width: 20rem;
    border: solid 1.5px #9e9e9e;
    border-radius: 0.5rem;
    background: none;
    padding: 0.5rem 0.5rem;
    font-size: 1rem;
    color: #686666;
    transition: border 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-group {
    position: relative;
    /* display: flex;
    justify-content: center; */
}

.input {
    min-width: 20%;
    border: solid 1.5px #9e9e9e;
    border-radius: 0.5rem;
    background: none;
    padding: 0.5rem 0.5rem;
    font-size: 1rem;
    color: #686666;
    transition: border 150ms cubic-bezier(0.4, 0, 0.2, 1);
    margin-top: 1rem;
}

.user-label {
    padding-left: 1rem;
    position: absolute;
    color: gray;
    pointer-events: none;
    transform: translateY(1.5rem);
    transition: 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input:focus,
input:valid {
    outline: none;
    border: 1.5px solid #1a73e8;
}

.input:focus~label,
input:valid~label {
    transform: translateY(2px) scale(0.8);
    background-color: #ffffff;
    padding: 0 .2em;
    color: #2196f3;
}

.section-buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

.section-buttons button {
    margin: 0 10px;
}

#back-to-top-btn {
    position: fixed;
    bottom: 0.5rem;
    right: 0.5rem;
    display: none;
    background-color: #007bff;
    color: white;
    border: none;
    /* padding: 10px 20px; */
    border-radius: 50%;
    cursor: pointer;
    /* box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); */
    transition: background-color 0.3s;
}

#back-to-top-btn:hover {
    background-color: #0056b3;
}


.button-box {
    display: flex;

    #popular-btn {
        color: white;
        background-color: #2196f3;
        margin: 0;
        box-shadow: none;
        border-radius: 30px 0px 0px 30px;
    }

    #celebs-btn {
        color: white;
        background-color: tomato;
        margin: 0;
        box-shadow: none;
        border-radius: 0px 30px 30px 0px;
    }
}

#no-results-img {
    width: 30vw;
}