* {
    text-decoration: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    line-height: 1.5;
}

.navbarHead {
    padding: 0.5rem 1rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    z-index: 3;
    border-bottom: 1px solid black;
    margin-bottom: 1rem;
}

.containerHead {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: rgb(0, 0, 0);
}

.containerHead ul {
    margin: 0;
    padding: 0;
    display: flex;
}
.navlinks.show {
    top: 0;
}
.no-scroll {
    overflow: hidden;
}
.containerHead ul li {
    list-style: none;
    display: inline-block;
    margin: 10px;
    position: relative;
}

.containerHead ul li a {
    font-size: 24px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: 400;
    transition: all 0.2s ease-in;
}

.containerHead ul li a::after {
    content: '';
    height: 3px;
    border-radius: 10px;
    width: 0%;
    background: rgb(57, 57, 57);
    display: block;
    margin-top: 5px;
    transition: 0.5s;
}

.containerHead ul li a:hover {
    scale: 1.02;
}

.containerHead ul li a:hover::after {
    width: 100%;
}

.navlinks ul {
    margin: 0;
    padding: 0;
    display: block;
}

#menu {
    display: none;
}

.headerPhone {
    display: none;
    margin: 10px;
    justify-content: space-between;
    align-items: center;
}

.headerPhone img {
    width: 14rem;
    cursor: pointer;

}

@media (max-width: 830px) {

    .cd-flex .imgHover .tooltip-container .tooltip {
        top: 50%;
        left: 100%;
        transform: translateY(-50%);
    }

    .cd-flex .imgHover .tooltip-container:hover .tooltip {
        left: calc(100% + 10px);
        /* add some space between the tooltip and the element */
        transform: translateY(-50%);
    }

    .navlinks {
        padding: 20px;
        height: 100vh;
        width: 100vw;
        top: -2000px;
        color: rgb(0, 0, 0);
        right: 0;
        position: absolute;
        background-color: white;
        text-align: left;
        align-items: end;
        z-index: 999;
        transition: 0.5s;
        font-size: 1.5rem;
    }

    .navlinks ul {
        min-width: 40%;
    }

    .navlinks ul li {
        display: block;
        margin-bottom: 1rem;
    }

    .navlinks ul li a {
        color: rgb(0, 0, 0);
    }

    .navlinks ul li a:hover {
        padding-left: 5px;
    }

    .navlinks ul li a::after {
        transition: width 0.1s ease-in-out;
        background-color: #474747;
    }

    .navlinks ul li a:hover::after {
        width: 50%;
        /* Set underline width to 20% on hover */
    }

    .navlinks i,
    .containerHead i {
        display: block;
        margin: 10px;
        cursor: pointer;
        color: rgb(0, 0, 0);
        font-size: 20px;
    }

    #menu {
        display: block;
    }

    .headerPhone {
        display: flex;
        /* Display as flex when screen width is 570px or less */
        margin-bottom: 2rem;
    }

    #phoneMedia {
        display: flex;
    }

    .listBoxes {
        height: 100%;
        padding-bottom: 1.5rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .cd-flex {
        height: 90%;
        flex-direction: row;
        align-items: start;
    }

    .cd-flex .imgHover .tooltip-container {
        margin: 10px;
    }

    .headerPhone {
        height: 10%;
    }

    #footy {
        display: block;
    }
}

.navbarHead .logo img {
    width: 14rem;
    cursor: pointer;
}

.imgHover img {
    width: 2rem;
    cursor: pointer;
}

.tooltip-container {
    position: relative;
    display: inline-block;
    margin: 20px;
    top: -10px;
    a {
        text-decoration: none;
    }
}
.cd-flex{
    display: flex;
}
.text {
    color: #333;
    font-size: 18px;
    cursor: pointer;
}

.tooltip {
    /* display: flex; */
    /* gap: 1rem; */
    /* justify-content: center;
    align-items: center; */
    /* visibility: hidden; */
    /* background-image: linear-gradient(120deg, #4c82da 0%, #4cc871 100%); */
    /* padding: 0.5rem 1rem; */
    /* border: 1px solid black; */
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    visibility: hidden;
    background-color: white;
    /* color: #fff; */
    border-radius: 2px;
    transition: opacity 0.3s, visibility 0.3s, top 0.3s, background 0.3s;
    z-index: 1;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);

    i {
        font-size: 1.5rem;
        cursor: pointer;
    }

    li {
        padding: 0.5rem 0.75rem;
        font-size: 1.5rem;
        list-style: none;
        border-bottom: 1px solid rgb(185, 185, 185);
        /* opacity: 0.5; */
    }

    a {
        text-decoration: none;
        color: rgb(58, 135, 222);
    }

    a:hover {
        color: rgb(224, 125, 18);
    }
}



.tooltip-container:hover .tooltip {
    top: 120%;
    opacity: 1;
    visibility: visible;
    /* background-image: linear-gradient(120deg, #4c82da 0%, #4cc871 100%); */
    background-color: white;
    transform: translate(-50%, -5px);
}

.imgHover .tooltip-container.tooltip i {
    display: block;
}

.phoneMedia {
    background-color: white;
    border-radius: 2rem;
    display: none;
    align-items: center;
    gap: 1rem;
    margin: 10px;

    i {
        font-size: 1.5rem;
    }
}

.footerContact ul {
    display: none;
}