body{
	margin-top: 0.6249rem;
  /* background-color: #F5F5F5; */
  background: rgba(255, 255, 255, 1);

  /* padding: 3.1251rem; */
  padding-top: 0;
  font-family: 'Roboto', sans-serif;
}
/* Add your custom styles here */
.header img {
  max-height: 3.1251rem;
}
.btn-group button:not(:last-child) {
  border-left: none;
}

#tbody tr:last-child {
  border-bottom-left-radius: 0.625rem;
  border-bottom-right-radius: 0.625rem;
}

/* Optional: Add padding to the table body for better aesthetics */
.table-bordered  {
  /* padding: 10px; */
  border-radius: 8px;
}


.title {
  font-weight: bold;
  font-size: 1.5rem;
  color: #333;
}

.total-seats {
  font-weight: bold;
}

/* .footer {
  margin-top: 3.1251rem;
} */


/* Add your custom styles here */
#india-svg {
  /* position: relative; */
  /* top: -15.6248rem; */

  /* border:0.1251rem solid red; */
  width: 100%; /* Ensure SVG fills the container */
  height: 100%; /* Maintain aspect ratio */
}

#india-svg path {
  fill: #ccc; /* Default color for states */
  stroke: #000; /* Border color */
  stroke-width: 1; /* Border width */
  cursor: pointer; /* Change cursor on hover */
}


.navbar-brand {
  color: #ff4500; /* Adjusted color for 'results' */
}
.navbar-brand span {
  color: #228b22; /* Adjusted color for '2024.in' */
}

.nav-link{
  font-size: 1.5rem;
}
.navbar{
  border-bottom: 0.0624rem solid #667085;
  margin-bottom: 2.4999rem;
}
a{
  color: #344054 ;
  font-weight: 400;
}
.navbar-toggler-icon{
  background-color: #344054 ;
}
/* -----------------------Progress----------------*/

.ndaLegend{background-color: #FF9933;     height: 15px; border-radius: 50%; width:15px; display:inline-block;}
.indiaLegend{background-color:#87CEEB;; height: 15px; border-radius: 50%; width:15px; display:inline-block;}
.others{background-color:#EAECF0; ; height: 15px; border-radius: 50%; width:15px; display:inline-block;}
.label{margin-left: 2px; color: #666666;  font-size: 15px; font-weight: 500;}
.legend .legendLabel{
  width:max-content;
  margin-right: 5px;
}


#bar-container {
  /* width: 100%; */
  /* background-color: #f3f3f3; */
  height: 40px;
  overflow: hidden;
  position: relative;
  padding: 0;
  margin: 0 0 ;
  /* border: 0.0624rem solid red; */
  display: flex;
  border-radius: 0.1875rem ;
}
.bar {
  /* height: 2.4999rem; */
  text-align: left;
  display: flex;
  align-items: center;
  color: white;
  /* float: left; */
  font-size: 18px;
  padding:0.625rem 0.5rem;
  font-weight: 500;
  margin: 0;
}
.bar-1 {
  background-color: #F47216; /* Blue */
}
.bar-2 {
  background-color: #7E7BFC; /* Green */
}
.bar-3 {
  background-color: #f44336; /* Red */
}
.allianceName{
  height: 1.4377rem;
  position: relative;
  padding: 0 0.2499rem;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  margin-bottom: 0.2499rem;
}
#word1 {
  position: absolute;
  left: 0;
  /* font-size: 1.25rem; */
  font-weight:500;
  color: black;
  /* background-color: red; */
  /* width: 100px; */
}

#word2 {
  position: absolute;
  left: 50%;
  /* font-size: 1.25rem; */
  font-weight:500;
}

#word3 {
  position: absolute;
  right: 0;
  /* font-size: 1.25rem; */
  font-weight:500;
}
/* -------------------------------------------------------------- */

/* -------------------------Accordian----------------------- */
/* Custom CSS for the progress bar */
#carouselContainer{
  min-height: 220px;
  /* border-radius: 8px; */
}
#carouselProgress{
  background-color: #FF9933;
}
.toggleButton{
  font-size: 14px;
  font-weight: 600;
  color: #344054;
  border: none;
  background-color: transparent;
}
#carouselContainer table{
  border: none;
}
.carousel-indicators [data-bs-target] {
  background-color:gray;
}
.carousel-indicators .active {
  background-color: gray; /* Change this to your desired color */
}

.carousel-item {
  border-radius: 8px;
  padding:11px 24px;
}
.carousel-item> div:first-of-type {
  /* Your styles here */
  font-size: 14px;
  color: #101828;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* #carouselExampleIndicators{
  border-top:8px solid black
} */
#ndaCarousel{
  border-top:8px solid #FF9933;
}
#indiaCarousel{
  border-top:8px solid #87CEEB;
}
#othersCarousel{
  border-top:8px solid #EAECF0;
}
#carouselContainer th,
#carouselContainer td{
 /* width: 50%; */
 background: rgba(255, 255, 255, 1);
 ;
 border-bottom: 1px solid rgba(208, 213, 221, 1)
 ;
 width: 50%;
 /* text-align: center; */
}
@media (max-width: 576px) {
  .hide-on-small {
      visibility: hidden;
      position: absolute;
      border-bottom: none;
  }
  .hide-on-small th {
    border-bottom: none;
}
}
.accordionTable th:first-child {
  text-align: left;
}
.accordionTable th:nth-child(2) {
  text-align: center;
}
.accordionTable tbody tr td:nth-child(2)
{
  text-align: center;
}
.accordionTable{
  width: 100%;
  /* width: 245px; */
}
/* .accordionTable td:first-child 
  text-align: left;
} */
.hiding {
  display:none;
}
.progress {  
  top: 0;
  left: 0;
  right: 0;
  /* margin-top: 6rem; */
  height: 8px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
/* .carousel-control-next,.carousel-control-prev{
  top: 25%;
  height: 50%;
}
.carousel-control-next
{
  justify-content: flex-end;
   padding-right: 8px;
   

}
.carousel-control-prev
{
  justify-content: flex-start;
  padding-left: 8px;
}
  
.carousel-control-prev-icon, .carousel-control-next-icon
{
  background-color:red;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  padding: 5px;

} */

/* .accordion-button div {
  background-color: red;
  height: 100%;
  width:50%;
  display: flex;
  align-items: center;
  padding: 0.625rem;
  color:white;
  
}
.color-animation {
  animation: colorFill 5s linear infinite; Customize duration and timing
  background: linear-gradient(to right, #F47216 0%, #F47216 50%, transparent 50%, transparent 100%);
  background-size: 200% 100%; Double the size of the background
} */

/* @keyframes colorFill {
  0% {
      background-position: 0 0;
  }
  100% {
      background-position: -100% 0;
  }
} */
/* .accordion-button{
  height: 2.5rem;
  font-size: 1.25rem;
  text-align: left;
  padding: 0;
  padding-right: 0.625rem;
  border: none;

}
.accordion-button:focus {
  outline: none;
  box-shadow: none;
}

.accordion-body{
  height: 13.75rem;
  padding: 0.3125rem 0;
}
/* .accordionTable{
  max-width: 245px;
} */
.accordionTable td{
  max-height: 1.25rem;
  /* background-color: red; */
} */
/* ---------------------------------------------------------------- */
.card{
  height:13.75rem;
}

.stateUnion{
  height:2.1875rem ;
  /* border: 2px solid black; */
  /* border-radius: 8px; */
  font-size: 0.625rem;
  /* overflow: hidden; */
}

#referenceRow{
  display: none;
}
#allianceBody td{
  height: 2.5rem  ; 
  color: #101828;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 0.875rem;
  /* padding: 0; */
  align-items: center;
  vertical-align: middle;
  
}
/* #stateButton:not(:focus),
#unionButton:not(:focus),#state-bt:not(:focus),#consti-bt:not(:focus) {
  opacity: 0.5; 
}
#stateButton:focus,
#unionButton:focus,#state-bt:focus,#consti-bt:focus {
  outline: none;
  box-shadow: none;
}
#stateButton:active,
#unionButton:active,#state-bt:active,#consti-bt:active {
  outline: none;
  box-shadow: none;
} */

#stateButton{
  width: 3.4375rem;
  font-size: 0.75rem;
  font-weight: 500;
  /* background-color: rgba(255, 255, 255, 1); */
}
#unionButton{
  width: 6.875rem;
  font-size:0.75rem;
  font-weight: 500;
  /* background-color: rgba(255, 255, 255, 1); */

}

#stateRow{
  background-color: #F9FAFB;
  font-size: 14px;
  font-weight: 500;
  padding-left: 16px;
  /* padding:12px 50px ; */

  /* width: 15.75rem; */
}
#NDA{
  background-color:  #FF9933;
  text-align: center;
  color: white;
  border-right: none;
  font-size: 14px;
  font-weight: 500;
  /* padding:12px 50px ; */
  /* width: 8.125rem; */
}
#INDIA{
  background-color: #87CEEB;
  text-align: center;
  color: white;
  border-left: none;
  font-size: 14px;
  font-weight: 500;
  /* padding:12px 38px ; */
  /* width: 8.125rem; */

}
#Others{
  background-color: #EAECF0;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  /* padding:12px 50px ; */
  /* width: 8.125rem; */

}
#stateName{
  text-align: left;
  padding-left: 1rem;
}
#NDASeats{
  background-color: #FFF9F5;
  text-align: center;
  border-right: none;
}
#INDIASeats{
  background-color: #F5F5FF;
  text-align: center;
  border-left:none;

}
#OthersSeats{
  background-color: #F9FAFB;
  text-align: center;

}
#stateLogo{
  width: 0.75rem;
  height: 0.75rem;
  /* margin-left: 0.5rem; */
  margin-right: 0.5rem;
}



/* -------------------------------state search---------- */
body{
  padding-top: 4.6875rem;
}

.search-container{
  width: 12.5rem;
  display: block;
  margin: 0;
  padding: 0;
  height: 2.1875rem;
  /* border-bottom: 1px solid red; */

}

input#stateSearch{
  margin: 0 auto;
  width: 100%;
  height: 2.1875rem;
  background-color:transparent;
  /* padding: 0 20px; */
  /* font-size: 1rem; */
  /* outline: none; */
  border-radius: 0;
  border:none;
  border-bottom:0.0625rem solid black ;
  /* border:none; */
  &:focus{
    /* border: 1px solid #008ABF; */
    transition: 0.35s ease;
    /* color: #008ABF; */
    &::-webkit-input-placeholder{
      transition: opacity 0.45s ease; 
  	  opacity: 0;
     }
    &::-moz-placeholder {
      transition: opacity 0.45s ease; 
  	  opacity: 0;
     }
    &:-ms-placeholder {
     transition: opacity 0.45s ease; 
  	 opacity: 0;
     }    
   }
 }

.search-icon{
  position: relative;
  float: right;
  width: 3.125rem;
  height: 3.125rem;
  top: -2.5rem;
  right: -0.625rem;
}

/* HARI CSS*/


.button {
  padding: 0.5rem 1rem;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.button:hover {
  background-color: #1e90ff; /* DodgerBlue */
  box-shadow: 0px 5px 20px rgba(30, 144, 255, 0.4); /* DodgerBlue with 40% opacity */
  color: #fff;
  transform: translateY(-2px);
}

.button:active {
  transform: translateY(-1px);
}



/* rajendar */
#containertool2 {
  position: absolute;
  z-index: 999;
  padding: 0.75rem;
  gap: 0.75rem;
  border-radius: 0.5rem;
  background: #FFFFFF;
  box-shadow: 0rem 0.25rem 0.375rem -0.125rem #10182808;
  box-shadow: 0rem 0.75rem 1rem -0.25rem #10182814;
  display: none;
}
.close {
  position: absolute;
  top: 0.6875rem;
  right: 1.25rem;
  font-size: x-large;
  color: #aaa;
  cursor: pointer;
}

.close:hover {
  color: #000;
}

.sthead {
  /* margin-top: 0; */
  font-size: 0.875rem;
  font-weight: 600;
}

#viewdetails {
  /* text-decoration: none; */
  color: #007BFF;
  /* display: block; */
  font-size: 0.75rem;
  /* margin-top: -0.625rem; */
  cursor: pointer;
  text-align: right;
  /* margin-top: 0.3rem; */
  font-family: 'Roboto';
  font-weight: 550;

}
#gt{
 display: inline;
}

.detailstable {
  margin-top: 0.375rem;
  width: 13rem;
  /* height: 9.5rem; */
  
  gap: 0.5rem;
  opacity: 1;
  border-collapse: collapse;
  /* border: #000000 0.0625rem solid; */
  margin-left: 0.375rem;
  border: none;
}

.tbhead,
.tdData {
  text-align: left;
  padding: 0.125rem;
  font-size: 0.75rem;
  /* border: 0.0625rem black solid; */
}

.tbhead {

  border-bottom: 0.0625rem solid #ddd;
}

#wlright {
  text-align: center;
  /* border: 0.0625rem black solid; */
}

.party-icon {
  width: 1rem;
  height: 1rem;
  margin-right: 0.5rem;
  vertical-align: middle;
}

.results12 {
  width: 5.3125rem;
  /* height: 0.75rem; */
  gap: 0rem;
  opacity: 0rem;
  font-family: Roboto;
  line-height: 0.7325rem;
  margin-left: 0rem;
  margin-top: 0.125rem;
  /* border: 0.0625rem black solid; */
}

.hdiv3 {
  margin-top: 0.125rem;
  padding: 0.1875rem;
  margin-bottom: 0.5rem;
  font-size: 0.875rem;
  /* font-weight: bold; */
}

.bars {
  display: flex;
  align-items: flex-start;
  /* Align items to the top */
  /* padding: 0.625rem; */
  /* margin-top: 0rem; */
}

.barbox {
  /* border: #000 0.0625rem solid; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.barlabel {
  font-size: 0.625rem;
  margin-bottom: 0rem;
}

.inbar {
  height: 1.25rem;
  color: #fff;
  line-height: 1.25rem;
  font-size: 0.75rem;
  width: 4.375rem;
  text-align: right;
  padding-right: 0.375rem;
  color: #000;
}

.bar1 {
  background: linear-gradient(90deg, #FF9933 0%, #F57A30 100%);
  width: 5.3125rem;
}

.bar2 {
  background-color: #87CEEB;
  width: 5.9375rem;
}

.bar3 {
  background-color: #808080;
  width: 2.1875rem;
}

.above-half {
  left: 22rem;
  top: 1.6rem;
}

.below-half {
  left: 24rem;
  top: 31rem;
}

@media (max-width:375px) {
  #containertool2{
   top:5rem;
    left: 8rem;
  }
}
 @media (max-width:600px) {
  #containertool2{
   top:5rem;
    left: 2rem;
  }
}
 @media (max-width:1250px) {
  .above-half{
   top:1.6rem;
    left: 14rem;
  }
  .below-half{
    top: 19rem;
    left:15rem ;
  }
}
