body{
	margin-top: 0.6249rem;
  background-color: #FFFFFF;
  /* padding: 3.1251rem; */
  padding-top: 0;
  font-family: 'Roboto', sans-serif;
}
/* Add your custom styles here */
.header img {
  max-height: 3.1251rem;
}
.btn-group button:not(:last-child) {
  border-left: none;
}
#theading {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: #EAECF0;
  padding: 10px;
  gap: 5px;
}

#tbody tr:last-child {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

/* Optional: Add padding to the table body for better aesthetics */
.table-bordered tbody {
  padding: 10px;
}
#theading div{
  border-radius: 20px;
  background:#F2F4F7 ;
  padding:2px;

}
#theading span{
  text-transform: capitalize;
  font-size: large;
}
#theading2{
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: #EAECF0;
  padding: 10px;
  gap: 5px;

}
#theading2 div{
  border-radius: 20px;
  background:#F2F4F7 ;
  padding:2px;
}
#theading2 span{
  text-transform: capitalize;
  font-size: large;
}


.title {
  font-weight: bold;
  font-size: 1.5rem;
  color: #333;
}

.total-seats {
  font-weight: bold;
}

.footer {
  margin-top: 3.1251rem;
}


/* Add your custom styles here */
#india-svg {
  /* position: relative; */
  /* top: -15.6248rem; */

  /* border:0.1251rem solid red; */
  width: 100%; /* Ensure SVG fills the container */
  height: 100%; /* Maintain aspect ratio */
}

#india-svg path {
  fill: #ccc; /* Default color for states */
  stroke: #000; /* Border color */
  stroke-width: 1; /* Border width */
  cursor: pointer; /* Change cursor on hover */
}

#india-svg path:hover {
  fill: #f00; /* Highlight color on hover */
}


.navbar-brand {
  color: #ff4500; /* Adjusted color for 'results' */
}
.navbar-brand span {
  color: #228b22; /* Adjusted color for '2024.in' */
}

.nav-link{
  font-size: 1.5rem;
}
.navbar{
  border-bottom: 0.0624rem solid #344054;
  margin-bottom: 2.4999rem;
}
a{
  color: #344054 ;
  font-weight: 400;
}
.navbar-toggler-icon{
  background-color: #344054 ;
}
/* -----------------------Progress----------------*/

.progress{
  height: 2.4999rem;

}
.bar-container {
  width: 100%;
  background-color: #f3f3f3;
  overflow: hidden;
  position: relative;
  padding: 0;
  margin: 0;
  /* border: 0.0624rem solid red; */
  display: flex;
}
.bar {
  /* height: 2.4999rem; */
  text-align: left;
  display: flex;
  align-items: center;
  color: white;
  /* float: left; */
  font-size: 1.25rem;
  padding:0.625rem 0.5rem;
  font-weight: 500;
  margin: 0;
}
.bar-1 {
  background-color: #F47216; /* Blue */
}
.bar-2 {
  background-color: #7E7BFC; /* Green */
}
.bar-3 {
  background-color: #f44336; /* Red */
}
.allianceName{
  height: 1.4377rem;
  position: relative;
  padding: 0 0.2499rem;
  display: flex;
  align-items: center;
  margin-bottom: 0.2499rem;
}
#word1 {
  position: absolute;
  left: 0;
  font-size: 1.25rem;
  font-weight:500;
}

#word2 {
  position: absolute;
  left: 50%;
  font-size: 1.25rem;
  font-weight:500;
}

#word3 {
  position: absolute;
  right: 0;
  font-size: 1.25rem;
  font-weight:500;
}
/* -------------------------------------------------------------- */

/* -------------------------Accordian----------------------- */

/* ---------------------------------------------------------------- */
.card{
  height:220px;
}

table{
  padding: 0;
  margin-top: 24px;
  border: 1px solid #EAECF0;
  /* overflow: hidden; */
  border-radius: 8px;

}

#stateRow{
  background-color: #EAECF0;
}
#NDA{
  background-color: #F47216;
  text-align: center;
  color: white;
  border-right: none;
}
#INDIA{
  background-color: #7E7BFC;
  text-align: center;
  color: white;
  border-left: none;

}
#Others{
  background-color: #BFC8D0;
  text-align: center;

}
#NDASeats{
  background-color: #FFF9F5;
  text-align: center;
  border-right: none;
}
#INDIASeats{
  background-color: #F5F5FF;
  text-align: center;
  border-left:none;

}
#OthersSeats{
  background-color: #F9FAFB;
  text-align: center;

}



/* pavan css */
