/* breadcrumb */
.breadcrumb {
  background: none;
  padding: 0;
  margin-bottom: 0;
}
.leaflet-interactive:hover
 {
    filter: drop-shadow(0.1875rem 0.3125rem 0.125rem rgb(0, 0, 0));
    border: solid 2px;
 }

.breadcrumb-item {
  display: inline;
  font-size: 1rem;
}

.breadcrumb-item + .breadcrumb-item::before {
  content: " > ";
  color: #6c757d;
}

.breadcrumb-item a {
  text-decoration: none;
  color: black;
}

.breadcrumb-item a:hover {
  color: black;
}

body{
	margin-top: 10px;
  /* background-color: #F5F5F5; */
  /* */
  padding-top: 0;
  font-family: 'Roboto', sans-serif;
}
/* Add your custom styles here */
.header img {
  max-height: 50px;
}
#map
{
  overflow: hidden;
}

.title {
  font-weight: bold;
  font-size: 24px;
  color: #333;
}

.total-seats {
  font-weight: bold;
}

.footer {
  margin-top: 50px;
}


/* Add your custom styles here */
#india-svg {
  /* position: relative; */
  /* top: -250px; */

  /* border:2px solid red; */
  width: 100%; /* Ensure SVG fills the container */
  height: 100%; /* Maintain aspect ratio */
}

#india-svg path {
  fill: #ccc; /* Default color for states */
  stroke: #000; /* Border color */
  stroke-width: 1; /* Border width */
  cursor: pointer; /* Change cursor on hover */
}


.navbar-brand {
  color: #ff4500; /* Adjusted color for 'results' */
}
.navbar-brand span {
  color: #228b22; /* Adjusted color for '2024.in' */
}

.nav-link{
  font-size: 24px;
}
.navbar{
  border-bottom: 1px solid #344054;
}
a{
  color: #344054 ;
  font-weight: 400;
}
.navbar-toggler-icon{
  background-color: #344054 ;
}
/* -----------------------Progress----------------*/
.bar-container {
  width: 100%;
  background-color: #f3f3f3;
  overflow: hidden;
  margin: 20px 0;
  position: relative;
}
.bar {
  height: 40px;
  text-align: left;
  display: flex;
  align-items: center;
  color: white;
  float: left;
  font-size: 20px;
  padding: 10px 8px;
  font-weight: 500;
}
.bar-1 {
  background-color: #2196F3; /* Blue */
}
.bar-2 {
  background-color: #4caf50; /* Green */
}
.bar-3 {
  background-color: #f44336; /* Red */
}
/* .bar-label {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
} */
thead{
  text-align: center;
}
/* Add border-radius to the top theading */
#theading,#theading2{
  border-top-left-radius: 0.4rem;
  border-top-right-radius: 0.4rem;
  background-color: #EAECF0;
  width: Fill (642px)px;
height: Hug (52px)px;
gap: 0px;
opacity: 0px;

}
#theading div,#theading2 div{

  background:#F2F4F7 ;
  width: Hug (80px)px;
  height: Hug (22px)px;
  padding: 2px 8px 2px 8px;
  gap: 0px;
  border-radius: 16px;
  opacity: 0px;
  
}
#theading span,#theading2 span{
  text-transform: capitalize;
  font-size: 1rem;
}
#theading :first-child,#theading2 :first-child{
  font-weight: bolder;
  margin-right: 8px;
  margin-left: 24px;
  margin-top:2px;
}
#theading :last-child, #theading2 :last-child{
  margin-left: auto;
}

#tbody tr:last-child {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

/* Optional: Add padding to the table body for better aesthetics */
.table-bordered tbody {
  padding: 10px;
}

/* #theading2{
  border-top-left-radius: 0.4rem;
  border-top-right-radius: 0.4rem;
  background-color: #EAECF0;
  width: Fill (642px)px;
height: Hug (52px)px;
gap: 0px;
opacity: 0px;
  background-color: #EAECF0;
}
#theading2 div{
  border-radius: 10rem;
  background:#F2F4F7 ;
  padding:2px;
  margin-right: 14rem;
}
#theading2 span{
  text-transform: capitalize;
  font-size: 1rem;
} */
#stateinput
{
  width: 200px;
  border: none; /* Remove default border */
  border-bottom: 1px solid #ccc; /* Add underline */
  background-image: url('search-icon.png'); /* Add search icon */
  background-repeat: no-repeat;
  background-position: calc(100% - 10px) center; /* Position search icon */
  padding-right: 30px; /* Add space for search icon */
}
#candidateinput {
  width: 200px;
  border: none; /* Remove default border */
  border-bottom: 1px solid #ccc; /* Add underline */
  background-image: url('search-icon.png'); /* Add search icon */
  background-repeat: no-repeat;
  background-position: calc(100% - 10px) center; /* Position search icon */
  padding-right: 30px; /* Add space for search icon */
}

/* .table-responsive-sm
{
  height: 200vh;
  overflow-x: scroll;
} */
/* .tdm {
  font-size: 28px;
  text-align: center;
  background: #EAECF0;
} */
/* thead{
  position: sticky;
  top:0;
} */
.constituency-res
{
  display: flex;
}
.buttons
{
  display: flex;
  flex-direction: column;
  align-items: right;
}
.td
{
  width:10rem;
height:3.75rem;

}
.td1{
background: #F6FEF9;
width:11.25rem;
height:3.75rem;
}
.td2{
  width:11.25rem;
height:3.75rem;
  background: #fffafa;
}
.td3{
  width:7.625;
height:3.75rem;
  background: #f9fafb;
  text-align: center;
}


.td1, .td2, .td3 {
  /* text-transform: capitalize; */
  color: #344054;
}
.td1 img{
  height: 1rem;
  width: 1rem;
  margin-right: 3px;
}
.td2 img{
  height: 1rem;
  width: 1rem;
  margin-right: 0.25rem;
}

tr{
  background-color: white;
  text-transform: capitalize;
}
.tdata{
  width: 200px;
  height: 60px;
}
.tdata1{
  width: 140px;
  height: 60px;
}
.tdata1 img{
  height: 16px;
  width: 16px;
}
.tdata2{
  width: 180px;
  height: 60px;
}
.tdata3
{
  width: 122px;
  height: 60px;
}
/* pagenation */
#pagination-controls,#pagination-controls-candidates{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 68px;
  background-color: white;
  padding: 12px 24px 16px 24px;
  gap: 0px;
  opacity: 1; /* Change to 1 to make it initially visible */
  border-bottom-left-radius: 0.4rem;
  border-bottom-right-radius: 0.4rem;
}

#pagination-controls.hidden,#pagination-controls-candidates.hidden{
  opacity: 0;
  height: 0;
  padding: 0;
  overflow: hidden;
}

#pagination-controls .page-buttons,#pagination-controls-candidates .page-buttons{
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
}

#pagination-controls button:first-child,#pagination-controls-candidates button:first-child{
  border: none;
  height: 2.25rem;
  width: 7.125rem;
  border: 1px solid #d0d5dd;
  border-radius: 0.8rem;
  background-color: white;
  outline: none; /* Remove focus outline */
}

#pagination-controls button:last-child,#pagination-controls-candidates button:last-child{
  border: none;
  height: 2.25rem;
  width: 7.125rem;
  border: 1px solid #d0d5dd;
  border-radius: 0.8rem;
  background-color: white;
  /* Pushes the "Next" button to the right */
  outline: none; /* Remove focus outline */
}

.newbuttons {
  height: 2.5rem;
  width: 2.5rem;
  background-color: white;
  color: #667085;
  border: none;
  outline: none; /* Remove focus outline */
}

.newbuttons:focus {
  outline: none; /* Remove focus outline when button is focused */
  background-color: #FCEBE8;
  border-radius: 0.5rem;
}

.newbuttons:active {
  border: none;
  background-color: #FCEBE8;
  border-radius: 0.5rem;
  outline: none; /* Remove focus outline when button is active */
}


/* bt */
#bt_1_yr
{
  height: 1.875rem;
  background-color: white;
  border: solid #D0D5DD;
border-radius: 0.5rem;
  margin:none;
}
#bt_2_yr
{
  height: 1.875rem;
  background-color: white;
  border: solid #D0D5DD;
border-radius: 0.5rem;
  margin:none;
}
  
  .button_years:focus{
    outline: none;
    background: #F9FAFB;
  }
  /* .bt_grp
  {
    display: flex;
  background-color: white;
  height: 2rem;
 
  border: solid 1px #D0D5DD

  } */