body{
	margin-top: 0.6249rem;
  /* background-color: #F5F5F5; */
  background: rgba(255, 255, 255, 1);

  /* padding: 3.1251rem; */
  padding-top: 0;
  font-family: 'Roboto', sans-serif;
}
/* Add your custom styles here */
.header img {
  max-height: 3.1251rem;
}
.btn-group button:not(:last-child) {
  border-left: none;
}

#tbody tr:last-child {
  border-bottom-left-radius: 0.625rem;
  border-bottom-right-radius: 0.625rem;
}

/* Optional: Add padding to the table body for better aesthetics */
.table-bordered tbody {
  padding: 10px;
}


.title {
  font-weight: bold;
  font-size: 1.5rem;
  color: #333;
}

.total-seats {
  font-weight: bold;
}

/* .footer {
  margin-top: 3.1251rem;
} */


/* Add your custom styles here */
#india-svg {
  /* position: relative; */
  /* top: -15.6248rem; */

  /* border:0.1251rem solid red; */
  width: 100%; /* Ensure SVG fills the container */
  height: 100%; /* Maintain aspect ratio */
}

#india-svg path {
  fill: #ccc; /* Default color for states */
  stroke: #000; /* Border color */
  stroke-width: 1; /* Border width */
  cursor: pointer; /* Change cursor on hover */
}


.navbar-brand {
  color: #ff4500; /* Adjusted color for 'results' */
}
.navbar-brand span {
  color: #228b22; /* Adjusted color for '2024.in' */
}

.nav-link{
  font-size: 1.5rem;
}
.navbar{
  border-bottom: 0.0624rem solid #667085;
  margin-bottom: 2.4999rem;
}
a{
  color: #344054 ;
  font-weight: 400;
}
.navbar-toggler-icon{
  background-color: #344054 ;
}
/* -----------------------Progress----------------*/

#bar-container {
  /* width: 100%; */
  /* background-color: #f3f3f3; */
  overflow: hidden;
  position: relative;
  padding: 0;
  margin: 0 0 ;
  /* border: 0.0624rem solid red; */
  display: flex;
  border-radius: 0.1875rem ;
}
.bar {
  /* height: 2.4999rem; */
  text-align: left;
  display: flex;
  align-items: center;
  color: white;
  /* float: left; */
  font-size: 1.25rem;
  padding:0.625rem 0.5rem;
  font-weight: 500;
  margin: 0;
}
.bar-1 {
  background-color: #F47216; /* Blue */
}
.bar-2 {
  background-color: #7E7BFC; /* Green */
}
.bar-3 {
  background-color: #f44336; /* Red */
}
.allianceName{
  height: 1.4377rem;
  position: relative;
  padding: 0 0.2499rem;
  display: flex;
  align-items: center;
  margin-bottom: 0.2499rem;
}
#word1 {
  position: absolute;
  left: 0;
  /* font-size: 1.25rem; */
  font-weight:500;
}

#word2 {
  position: absolute;
  left: 50%;
  /* font-size: 1.25rem; */
  font-weight:500;
}

#word3 {
  position: absolute;
  right: 0;
  /* font-size: 1.25rem; */
  font-weight:500;
}
/* -------------------------------------------------------------- */

/* -------------------------Accordian----------------------- */
/* Custom CSS for the progress bar */
#carouselContainer{
  min-height: 220px;
  /* border-radius: 8px; */

}
#carouselContainer table{
  border: none;
}
#carouselExampleIndicators{
  border-top:8px solid black
}


#carouselContainer th,td{
 width: 50%;
 background: rgba(255, 255, 255, 1);
 ;
 border-bottom: 1px solid rgba(208, 213, 221, 1)
 ;
 text-align: center;
}
.accordionTable th:first-child,
.accordionTable td:first-child {
  /* Your styles for the first child th and td */
  text-align: left;
}
.progress {  
  top: 0;
  left: 0;
  right: 0;
  margin-top: 6rem;
} 
#accordionContainer h2{
  height: 2.5rem;
  /* border: 8px; */


}
.accordion-button div {
  /* background-color: red; */
  height: 100%;
  width:50%;
  display: flex;
  align-items: center;
  padding: 0.625rem;
  color:white;
  
}
.color-animation {
  animation: colorFill 5s linear infinite; /* Customize duration and timing */
  background: linear-gradient(to right, #F47216 0%, #F47216 50%, transparent 50%, transparent 100%);
  background-size: 200% 100%; /* Double the size of the background */
}

@keyframes colorFill {
  0% {
      background-position: 0 0;
  }
  100% {
      background-position: -100% 0;
  }
}
.accordion-button{
  height: 2.5rem;
  font-size: 1.25rem;
  text-align: left;
  padding: 0;
  padding-right: 0.625rem;
  border: none;

}
.accordion-button:focus {
  outline: none;
  box-shadow: none;
}

.accordion-body{
  height: 13.75rem;
  padding: 0.3125rem 0;
}
/* .accordionTable{
  max-width: 245px;
} */
.accordionTable td{
  max-height: 1.25rem;

  /* background-color: red; */
}
/* ---------------------------------------------------------------- */
.card{
  height:13.75rem;
}

table{
  padding: 0;
  margin-top: 1.5rem;
  border: 0.0625rem solid #EAECF0;
  /* overflow: hidden; */
  border-radius: 0.5rem;

}
.stateUnion{
  height:2.1875rem ;
  /* border: 2px solid black; */
  /* border-radius: 8px; */
  font-size: 0.625rem;
  /* overflow: hidden; */
}

#referenceRow{
  display: none;
}
#allianceBody td{
  height: 2.5rem  ; 
  color: #101828;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 0.875rem;
  padding: 0;
  align-items: center;
  vertical-align: middle;
  
}
/* #stateButton:not(:focus),
#unionButton:not(:focus),#state-bt:not(:focus),#consti-bt:not(:focus) {
  opacity: 0.5; 
}
#stateButton:focus,
#unionButton:focus,#state-bt:focus,#consti-bt:focus {
  outline: none;
  box-shadow: none;
}
#stateButton:active,
#unionButton:active,#state-bt:active,#consti-bt:active {
  outline: none;
  box-shadow: none;
} */

#stateRow{
  background-color: #EAECF0;
}
#NDA{
  background-color: #F47216;
  text-align: center;
  color: white;
  border-right: none;
}
#INDIA{
  background-color: #7E7BFC;
  text-align: center;
  color: white;
  border-left: none;

}
#stateName{
  text-align: left;
}
#Others{
  background-color: #BFC8D0;
  text-align: center;

}
#NDASeats{
  background-color: #FFF9F5;
  text-align: center;
  border-right: none;
}
#INDIASeats{
  background-color: #F5F5FF;
  text-align: center;
  border-left:none;

}
#OthersSeats{
  background-color: #F9FAFB;
  text-align: center;

}
#stateLogo{
  width: 0.75rem;
  height: 0.75rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}



/* -------------------------------state search---------- */
body{
  padding-top: 4.6875rem;
}

.search-container{
  width: 12.5rem;
  display: block;
  margin: 0;
  padding: 0;
  height: 2.1875rem;
  /* border-bottom: 1px solid red; */

}

input#stateSearch{
  margin: 0 auto;
  width: 100%;
  height: 2.1875rem;
  background-color:#F5F5F5;
  /* padding: 0 20px; */
  /* font-size: 1rem; */
  /* outline: none; */
  border-radius: 0;
  border:none;
  border-bottom:0.0625rem solid black ;
  /* border:none; */
  &:focus{
    /* border: 1px solid #008ABF; */
    transition: 0.35s ease;
    /* color: #008ABF; */
    &::-webkit-input-placeholder{
      transition: opacity 0.45s ease; 
  	  opacity: 0;
     }
    &::-moz-placeholder {
      transition: opacity 0.45s ease; 
  	  opacity: 0;
     }
    &:-ms-placeholder {
     transition: opacity 0.45s ease; 
  	 opacity: 0;
     }    
   }
 }

.search-icon{
  position: relative;
  float: right;
  width: 3.125rem;
  height: 3.125rem;
  top: -2.5rem;
  right: -0.625rem;
}

/* HARI CSS*/


.button {
  padding: 0.5rem 1rem;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.button:hover {
  background-color: #1e90ff; /* DodgerBlue */
  box-shadow: 0px 5px 20px rgba(30, 144, 255, 0.4); /* DodgerBlue with 40% opacity */
  color: #fff;
  transform: translateY(-2px);
}

.button:active {
  transform: translateY(-1px);
}



/* rajendar */
#containertool2 {
  position: absolute;
  z-index: 999;
  width: 241px;
  /* height: 282px; */
  padding: 12px;
  gap: 12px;
  border-radius: 8px;
  /* border: 1px solid black; */
  margin-top: -350px;
  margin-left: 55%;
  background: #FFFFFF;
  box-shadow: 0px 4px 6px -2px #10182808;
  box-shadow: 0px 12px 16px -4px #10182814;
  display: none;
}

.close {
  position: absolute;
  top: 11px;
  right: 20px;
  font-size: x-large;
  color: #aaa;
  cursor: pointer;
}

.close:hover {
  color: #000;
}

.sthead {
  /* margin-top: 0; */
  font-size: 14px;
  font-weight: 600;
}

#viewdetails {
  /* text-decoration: none; */
  color: #007BFF;
  /* display: block; */
  font-size: 12px;
  /* margin-top: -10px; */
  cursor: pointer;
  text-align: right;
  margin-top: 0.3rem;
  font-family: 'Roboto';
  font-weight: 550;

}
#gt{
 display: inline;
}

.detailstable {
  margin-top: 6px;
  width: 208px;
  /* height: 152px; */
  
  gap: 8px;
  opacity: 1;
  border-collapse: collapse;
  /* border: #000000 1px solid; */
  margin-left: 6px;
  border: none;
}

.tbhead,
.tdData {
  text-align: left;
  padding: 2px;
  font-size: 12px;
  /* border: 1px black solid; */
}

.tbhead {

  border-bottom: 1px solid #ddd;
}

#wlright {
  text-align: center;
  /* border: 1px black solid; */
}

.party-icon {
  width: 16px;
  height: 16px;
  margin-right: 8px;
  vertical-align: middle;
}

.results12 {
  width: 85px;
  /* height: 12px; */
  gap: 0px;
  opacity: 0px;
  font-family: Roboto;
  line-height: 11.72px;
  margin-left: 0px;
  margin-top: 2px;
  /* border: 1px black solid; */
}

.hdiv3 {
  margin-top: 2px;
  padding: 3px;
  margin-bottom: 8px;
  font-size: 14px;
  font-weight: bold;
}

.bars {
  display: flex;
  align-items: flex-start;
  /* Align items to the top */
  /* padding: 10px; */
  /* margin-top: 0px; */
}

.barbox {
  /* border: #000 1px solid; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.barlabel {
  font-size: 10px;
  margin-bottom: 0px;
}

.inbar {
  height: 20px;
  color: #fff;
  line-height: 20px;
  font-size: 12px;
  width: 70px;
  text-align: right;
  padding-right: 6px;
  color: #000;
}

.bar1 {
  background: linear-gradient(90deg, #FF9933 0%, #F57A30 100%);
  width: 85px;
}

.bar2 {
  background-color: #87CEEB;
  width: 95px;
}

.bar3 {
  background-color: #808080;
  width: 35px;
}
