.navbar{
  margin-bottom: 1rem;
}

.aboutContainer{
  text-align: center;
  margin: 2rem auto;
}

.aboutP{
  text-align: center;
  font-size: 28px;
  margin: 0.625rem 4.5rem;
}

.teamMembers{
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  margin: 1rem 10rem 6rem;
  align-items: center;
}

.name{
  margin:0.2rem 0 0.4rem 0;
  font-size: 1.25rem;
  font-weight: 600;
  color: #344054;
}

.memberDetails{
  width: 100%;
  margin-left: 0.1rem;
}

.role{
  font-size: 1.25rem;
  /* margin: 0.125rem 0; */
}

.socials{
  display: flex;
  gap: 0.8rem;
  margin-top: 0.2rem;
}

.socials a{
  cursor: pointer;
  width: 11%;
}

.socials img{
  width: 30px;
}

.member{
  width: 360px;
  height: 92px;
  display: flex;
  background: #F6F6F7;
  border: 1px solid #ddd;
  border-radius: 5px;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  margin: 0.1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.memberImage > img {
  border-radius: 0.75rem;
  position: absolute;
  top: 50%;
  left: 50%;
  max-height: 100%;
  width: 100%;
  transform: translate(-50%, -50%);
  object-fit: cover;
}

.memberImage{
  width: 88px;
  padding-top: 30%;
  margin:0 1rem;
  position: relative;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease-in-out;
}

@media (max-width: 1120px) {
  .member {
    width: 47%;
    margin: auto;
  }

  .teamMembers{
    margin: 4rem;
  }
}

@media (max-width: 600px) {
  .member {
    width: 60%;
    margin: auto;
  }
  .teamMembers{
    margin: 0;
  }
}

@media (max-width: 400px) {
  .member {
    width: 90%;
    margin: auto;
  }
  .teamMembers{
    margin: 0;
  }
}

.socials img {
  transition: filter 0.3s ease-in-out;
}

.linkedin:hover {
  filter: drop-shadow(0 0 10px #385ce9);
}

.insta:hover {
  filter: drop-shadow(0 0 10px #E1306C);
}

.facebook:hover {
  filter: drop-shadow(0 0 10px #385ce9);
}

.twitter:hover{
  filter: drop-shadow(0 0 10px #1DA1F2);
}

.github:hover{
  filter: drop-shadow(0 0 10px #2B3137)
}

.member:hover {
  transform: scale(1.05);
}

.member:hover .memberImage {
  transform: scale(1.1);
}
